
AspCoreRestAPI/bin/

AspCoreRestAPI/obj/

AspCoreRestAPI.Contracts/bin/

AspCoreRestAPI.Contracts/obj/

AspCoreRestAPI.Entities/bin/

AspCoreRestAPI.Entities/obj/

AspCoreRestAPI.Repository/bin/

AspCoreRestAPI.Repository/obj/

.vs/
